<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comentario procesado</title>
    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 20px;
            margin-top: 50px;
            background-color: #2c3e50;
            color: #fff;
        }
        h1 {
            font-size: 30px;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <h1>Imagen Procesada: </h1>
    <p style="font-size: 24px;">Resultado: {{e}}</p>
</body>

</html>